#!/usr/bin/env bash

# --------------------------------------------
# @doc Arboreus Library github handler configuration
# @author Alexandr KIRILOV (http://alexandr.kirilov.me)
# @copyright (C) 2015, http://rusiem.com
# --------------------------------------------

# System settings
USER_NAME="user"

# Project directories
DIR_ROOT="/path/to/Arboreus_fw_rest"
DIR_ROOT_GIT="/path/to/Github/Fw_rest"
DIR_SRC="/path/to/Arboreus_fw_rest/src"
DIR_GIT="/path/to/Github/Fw_rest/src"