#!/usr/bin/env bash

# --------------------------------------------
# @doc Rusiem API service handler configuration
# @author Alexandr KIRILOV (http://alexandr.kirilov.me)
# @copyright (C) 2015, http://rusiem.com
# --------------------------------------------

# System settings
USER_NAME="user"
PROJECT_NAME="Arboreus REST API template"

# Erlang Node names
NODE_TEST_NAME="yaws_test"
NODE_NAME="yaws"

# Project directories
DIR_ROOT="/path/to/Arboreus_fw_rest";
DIR_SRC="${DIR_ROOT}/src";
DIR_BIN="${DIR_ROOT}/bin";
DIR_OLD_BIN="${DIR_BIN}_old";

# Directory and files exclusion
EXCLUSION_DIRS=(
	#'/old'
	#'/service'
)
EXCLUSION_FILES=('')

# Load module to yaws
function load_to_yaws(){
	yaws --load $1
}